{
  "colorRange": {
    "end": {
      "hue": 30,
      "saturation": 100,
      "luminosity": 25
    },
    "start": {
      "hue": 30,
      "saturation": 100,
      "luminosity": 75
    }
  },
  "itemType": {
    "inputCount": 1,
    "outputType": 1
  },
  "svgImageSrc": "images/Ebola.svg"
}

