{
  "colorRange": {
    "end": {
      "hue": 210,
      "saturation": 100,
      "luminosity": 50
    },
    "start": {
      "hue": 210,
      "saturation": 100,
      "luminosity": 75
    }
  },
  "itemType": "Noun",
  "svgImageSrc": "images/patient.svg"
}

