{
  "colorRange": {
    "end": {
      "hue": 150,
      "saturation": 55,
      "luminosity": 48
    },
    "start": {
      "hue": 150,
      "saturation": 55,
      "luminosity": 48
    }
  },
  "itemType": "Noun",
  "svgImageSrc": "images/person.svg"
}

