{
  "colorRange": {
    "end": {
      "blue": 186,
      "green": 153,
      "red": 54
    },
    "start": {
      "blue": 186,
      "green": 54,
      "red": 54
    }
  },
  "itemType": "Noun",
  "svgImageSrc": "images/person.svg"
}

