{
  "colorRange": {
    "end": {
      "blue": 47,
      "green": 99,
      "red": 254
    },
    "start": {
      "blue": 47,
      "green": 254,
      "red": 254
    }
  },
  "itemType": {
    "inputCount": 1,
    "outputType": 1
  },
  "svgImageSrc": "images/virus.svg"
}

