{
  "colorRange": {
    "end": {
      "hue": 30,
      "saturation": 100,
      "luminosity": 60
    },
    "start": {
      "hue": 30,
      "saturation": 100,
      "luminosity": 60
    }
  },
  "itemType": {
    "inputCount": 1,
    "outputType": 1
  },
  "svgImageSrc": "images/virus.svg"
}

